# Configuration Neo4j (Base de données du projet MusicGraph)
NEO4J_URI=bolt://localhost:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=musicgraph_pass

# Configuration de l'API Backend (Node.js ou Python)
PORT=3000